---
- hosts: localhost
  connection: local
  gather_facts: false
  
  vars_prompt:
    - name: target_switch
      prompt: "Switch-Name"
      private: false

  vars:
    inventory_file: "{{ playbook_dir }}/../inventory/production.yml"
    vault_file: "{{ playbook_dir }}/../inventory/vault.yml"

  tasks:
    - name: "1. Lade Inventory"
      include_vars:
        file: "{{ inventory_file }}"
        name: full_inventory
    
    - name: "2. Lade Vault"
      include_vars:
        file: "{{ vault_file }}"
        name: vault_data
      ignore_errors: yes
    
    - name: "3. Debug - vault_data vorhanden?"
      debug:
        msg: "vault_data ist {{ 'gesetzt' if vault_data is defined else 'NICHT gesetzt' }}"
    
    - name: "4. Debug - vault_passwords"
      debug:
        var: vault_data.vault_passwords
      when: vault_data is defined
    
    - name: "5. Extrahiere Switch-Daten (wie im Original)"
      set_fact:
        switch_data: "{{ full_inventory.all.hosts[target_switch] }}"
        switch_ip: "{{ full_inventory.all.hosts[target_switch].ansible_host }}"
        switch_hostname: "{{ full_inventory.all.hosts[target_switch].cli.hostname | default('SG3210') }}"
        switch_user: "{{ full_inventory.all.vars.ansible_user | default('admin') }}"
        switch_password: "{{ vault_data.vault_passwords[target_switch] | default(vault_data.vault_default_password) | default('neinnein') }}"
    
    - name: "6. Debug - Extrahierte Werte"
      debug:
        msg:
          - "switch_ip: {{ switch_ip }}"
          - "switch_hostname: {{ switch_hostname }}"
          - "switch_user: {{ switch_user }}"
          - "switch_password: {{ switch_password }}"
    
    - name: "7. Test SSH-Verbindung mit extrahiertem Passwort"
      shell: |
        sshpass -p '{{ switch_password }}' ssh -o StrictHostKeyChecking=no -o PubkeyAuthentication=no {{ switch_user }}@{{ switch_ip }} 'show system-info' 2>&1 || echo "SSH FAILED"
      register: ssh_test
      ignore_errors: yes
    
    - name: "8. SSH Test Ergebnis"
      debug:
        var: ssh_test.stdout_lines
