---
- name: Configure VLANs and Ports on SG3210
  hosts: managed_switches
  gather_facts: no
  connection: local
  
  vars:
    switch_host: "{{ ansible_host }}"
    switch_user: "admin"
    switch_pass: "neinnein"
  
  tasks:
    - name: Create VLANs
      tp_link_ssh_vlan_expect:
        host: "{{ switch_host }}"
        username: "{{ switch_user }}"
        password: "{{ switch_pass }}"
        vlan_id: "{{ item.id }}"
        vlan_name: "{{ item.name }}"
        hostname: "SG3210"
        user_prompt: ">"
        enable_prompt: "#"
        config_prompt: "(config)#"
        vlan_prompt: "(config-vlan)#"
        save_success_msg: "Saving user config OK!"
      loop: "{{ common_vlans }}"
      when: item.id != 1
      
    - name: Configure trunk port (Port 1)
      tp_link_ssh_port_expect:
        host: "{{ switch_host }}"
        username: "{{ switch_user }}"
        password: "{{ switch_pass }}"
        port: "{{ port_roles.management_trunk }}"
        mode: trunk
        trunk_vlans: "{{ common_vlans | map(attribute='id') | list | join(',') }}"
        
    - name: Configure management access ports
      tp_link_ssh_port_expect:
        host: "{{ switch_host }}"
        username: "{{ switch_user }}"
        password: "{{ switch_pass }}"
        port: "{{ item }}"
        mode: access
        access_vlan: 10
      loop: "{{ port_roles.management_access }}"
      
    - name: Configure client ports
      tp_link_ssh_port_expect:
        host: "{{ switch_host }}"
        username: "{{ switch_user }}"
        password: "{{ switch_pass }}"
        port: "{{ item }}"
        mode: access
        access_vlan: 20
      loop: "{{ port_roles.clients }}"
      
    - name: Configure guest ports
      tp_link_ssh_port_expect:
        host: "{{ switch_host }}"
        username: "{{ switch_user }}"
        password: "{{ switch_pass }}"
        port: "{{ item }}"
        mode: access
        access_vlan: 30
      loop: "{{ port_roles.guests }}"
      
    - name: Configure IoT ports
      tp_link_ssh_port_expect:
        host: "{{ switch_host }}"
        username: "{{ switch_user }}"
        password: "{{ switch_pass }}"
        port: "{{ item }}"
        mode: access
        access_vlan: 40
      loop: "{{ port_roles.iot }}"
